In [4]:
import pandas as pd

In [2]:
df1 = pd.read_excel("C:/raj/ML/AI_Detector_check/Old_results.xlsx")
df1.head()

       PMID                                           Abstract  Date
0  26710313                                                NaN  2017
1  26700315  Rocks eaten by wild animals on the Bolshoy Sha...  2017
2  26695100                                                NaN  2017
3  26694483  The levels, potential sources and ecological r...  2017
4  26694482  Avian influenza and foot-and-mouth disease are...  2017

In [3]:
df2 = pd.read_excel("C:/raj/ML/AI_Detector_check/New_results.xlsx")
df2.head()

       PMID                                           Abstract  Date
0  39134423  The cuticle is a lipid barrier that covers the...  2024
1  39134422                                                NaN  2024
2  39134421  Although the locus coeruleus (LC) is recognize...  2024
3  39134420  From a glimpse of a face, people form trait im...  2024
4  39134419  Neuronal excitatory synapses are primarily loc...  2024

In [6]:
df1 = pd.read_excel("C:/raj/ML/intern/AI_Detector_check/Old_results.xlsx")
df1["Range"] = pd.Series(["2012-15" for x in range(len(df1.index))])

In [7]:
df2 = pd.read_excel("C:/raj/ML/intern/AI_Detector_check/New_results.xlsx")
df2["Range"] = pd.Series(["2022-24" for x in range(len(df2.index))])

In [8]:
df1 = df1.drop('Date', axis = 1)
df2 = df2.drop('Date', axis = 1)

In [9]:
df1.head()

       PMID                                           Abstract    Range
0  39134423  The cuticle is a lipid barrier that covers the...  2022-24
1  39134422                                                NaN  2022-24
2  39134421  Although the locus coeruleus (LC) is recognize...  2022-24
3  39134420  From a glimpse of a face, people form trait im...  2022-24
4  39134419  Neuronal excitatory synapses are primarily loc...  2022-24

In [10]:
df2.head()

       PMID                                           Abstract    Range
0  39134423  The cuticle is a lipid barrier that covers the...  2022-24
1  39134422                                                NaN  2022-24
2  39134421  Although the locus coeruleus (LC) is recognize...  2022-24
3  39134420  From a glimpse of a face, people form trait im...  2022-24
4  39134419  Neuronal excitatory synapses are primarily loc...  2022-24

In [11]:
df3 = pd.concat([df1, df2], ignore_index = True)
df3.to_excel("Combined_results.xlsx", index = False)

In [13]:
df3 = pd.read_excel("C:/raj/ML/intern/AI_Detector_check/Combined_results.xlsx")
df3

          PMID                                           Abstract    Range
0     26710313                                                NaN  2012-15
1     26700315  Rocks eaten by wild animals on the Bolshoy Sha...  2012-15
2     26695100                                                NaN  2012-15
3     26694483  The levels, potential sources and ecological r...  2012-15
4     26694482  Avian influenza and foot-and-mouth disease are...  2012-15
...        ...                                                ...      ...
1995  39134690  Locally addressable nanophotonic devices are e...  2022-24
1996  39134689  To evaluate the efficacy and safety of nab-pac...  2022-24
1997  39134688  To study survival outcomes and prognostic fact...  2022-24
1998  39134687  This systematic review aimed to compare the ac...  2022-24
1999  39134686  Importance of oral health during pregnancy has...  2022-24

[2000 rows x 3 columns]

In [14]:
df3 = df3.dropna(axis = 0)
df3

          PMID                                           Abstract    Range
1     26700315  Rocks eaten by wild animals on the Bolshoy Sha...  2012-15
3     26694483  The levels, potential sources and ecological r...  2012-15
4     26694482  Avian influenza and foot-and-mouth disease are...  2012-15
5     26687565  Risk perceptions and attitudes toward animals ...  2012-15
6     26683894  To report a case of refractory seizures follow...  2012-15
...        ...                                                ...      ...
1995  39134690  Locally addressable nanophotonic devices are e...  2022-24
1996  39134689  To evaluate the efficacy and safety of nab-pac...  2022-24
1997  39134688  To study survival outcomes and prognostic fact...  2022-24
1998  39134687  This systematic review aimed to compare the ac...  2022-24
1999  39134686  Importance of oral health during pregnancy has...  2022-24

[1818 rows x 3 columns]